spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      data-source-properties:
        oracle.jdbc.defaultNLS_LANG: AMERICAN_AMERICA.AL32UTF8
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8071/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    com.msa: debug
    org.springframework.cloud: debug
    org.springframework.cloud.gateway: trace
    io.github.resilience4j: debug
  pattern:
    console: "[%d{HH:mm:ss}] [${spring.application.name:}, %X{traceId:-}, %X{spanId:-}] %logger{0}: %m%n"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0