spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8071/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    env:
      enabled: true

logging:
  level:
    com.msa: DEBUG