spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      data-source-properties:
        oracle.jdbc.defaultNLS_LANG: KOREAN_KOREA.AL32UTF8
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8071/eureka
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${server.port}

logging:
  level:
    com.msa: DEBUG
  pattern:
    console: "%d{HH:mm:ss} %logger{0} : %msg%n"

management:
  endpoints:
    web:
      exposure:
        include: "*"